// custom varibles
$primary: #ae7be8;
$dark-purple: #8751ab;
$red: #d93C65;
$box-shadow: 0 .5rem 1rem rgba($primary, .15);
$box-shadow-lg: 0 1rem 3rem rgba($primary, .175);

// import functions & variables
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
  "dark-purple": $dark-purple,
  "red": $red
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";